body{
	background-color: #EEEEEE;
    color: antiquewhite;
}

header{
	background-color: #3F466A;
}

h2{
    color: black;
}

#sct{
    display: flex;
}

#sct-shops{
    color: black;
    width: 30%;
}

.dv-prod{
    background-color: white;
    color: black;
    margin: 0px;
}

